<!DOCTYPE html>
<html lang="en">

<head>
	<title>Brotherhood</title>
	<meta charset="utf-8">
	<meta name="description" content="A look into the brothers of Theta Tau">
	<meta name="author" content="Theta Tau">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/brothers.js"></script>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
  	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="tt/stylesheets/styles.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
</head>

<body>
	<div id = "header">
		<div id="Title">
			<img id=logo src="/img/logo.png">
			<div id="titles">
				<span id="TT"> Theta Tau |</span>
				<span id="subtitle"> Technology Colony </span>
			</div>
		</div>
	</div>
	<div id="background">
		<div class = "brother" id = "1">
			<span class = "name">Kyle Archer</span>
			<img src="img/kyle.jpg"/>
		</div>
		<div class = "brother" id = "2">
		</div>
		<div class = "brother" id = "3">
		</div>
		<div class = "brother" id = "4">
		</div>
		<div class = "brother" id = "5">
		</div>
		<div class = "brother" id = "6">
		</div>
		<div class = "brother" id = "7">
		</div>
		<div class = "brother" id = "8">
		</div>
		<div class = "brother" id = "9">
		</div>
		<div class = "brother" id = "10">
		</div>
		<div class = "brother" id = "11">
		</div>
		<div class = "brother" id = "12">
		</div>
		<div class = "brother" id = "13">
		</div>
		<div class = "brother" id = "14">
		</div>
		<div class = "brother" id = "15">
		</div>
	</div>
	<div id = "brother-bio-background"></div>
	<div class = "brother-bio" id = "bio-1">
		<div class = "brother-bio-inner">
			<img src="img/kyle.jpg"/>
			<i id="x" class="fa fa-times" aria-hidden="true" style = "opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-2">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true"  style = "opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-3">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true"  style = "opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-4">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true"  style="opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-5">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true" style="opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-6">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true" style="opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-7">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true" style="opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-8">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true" style="opacity: 0"></i>
		</div>
	</div>
	<div class = "brother-bio" id = "bio-9">
		<div class = "brother-bio-inner">
			<i id="x" class="fa fa-times" aria-hidden="true" style="opacity: 0"></i>
		</div>
	</div>
</body>
