/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/pages/_bios.scss */
#bios-body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0px;
  background-image: url(../../img/boston.png);
  /* --------------------------------

  Secondary Fixed Navigation

  -------------------------------- */
}
/* line 11, ../sass/pages/_bios.scss */
#bios-body #logo {
  height: 60px;
  display: inline-block;
}
/* line 15, ../sass/pages/_bios.scss */
#bios-body #titles {
  left: 10px;
  position: relative;
  bottom: 27px;
  color: white;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
}
/* line 65, ../sass/pages/_bios.scss */
#bios-body #background {
  margin-top: 120px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 76, ../sass/pages/_bios.scss */
#bios-body #background #GRA {
  font-size: 50px;
  padding: 20px;
}
/* line 82, ../sass/pages/_bios.scss */
#bios-body #background #GRA-box .brother {
  width: 250px;
}
/* line 86, ../sass/pages/_bios.scss */
#bios-body #background #mitra {
  width: 250px;
  height: 250px;
}
/* line 90, ../sass/pages/_bios.scss */
#bios-body #background .class-header {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 50px;
  padding-bottom: 15px;
  padding-top: 20px;
  border-bottom: 3px solid black;
  width: 90%;
  letter-spacing: 5px;
}
/* line 102, ../sass/pages/_bios.scss */
#bios-body #background .brother {
  opacity: 1;
  display: inline-block;
  width: 175px;
  margin: 10px;
  vertical-align: top;
}
/* line 111, ../sass/pages/_bios.scss */
#bios-body #background .name-box {
  padding-top: 13px;
  height: 70px;
  font-size: 13px;
}
/* line 115, ../sass/pages/_bios.scss */
#bios-body #background .name-box .name {
  font-size: 19px;
  padding-bottom: 5px;
}
/* line 124, ../sass/pages/_bios.scss */
#bios-body #background img {
  width: 175px;
  height: 175px;
  padding-top: 10px;
  border-radius: 50%;
  transition: all 0.2s;
}
/* line 131, ../sass/pages/_bios.scss */
#bios-body #background img:hover {
  transform: scale(1.03);
}
/* line 136, ../sass/pages/_bios.scss */
#bios-body #brother-bio-background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 5;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}
/* line 150, ../sass/pages/_bios.scss */
#bios-body .brother-bio {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  bottom: 80px;
  background-color: white;
  width: 0%;
  transition: all 1s;
  z-index: 6;
  overflow: hidden;
}
/* line 162, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner {
  overflow: hidden;
}
/* line 165, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top {
  height: 200px;
  background-color: rgba(153, 153, 153, 0.4);
}
/* line 169, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top img {
  position: absolute;
  width: 200px;
  height: 200px;
}
/* line 174, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .infoblock {
  margin-left: 230px;
  padding-top: 10px;
}
/* line 177, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .infoblock .minor {
  display: inline;
  padding-left: 15px;
}
/* line 181, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .infoblock .info {
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 187, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .header {
  height: 50px;
  margin-left: 230px;
  margin-right: 80px;
  border-bottom: 2px #8B0000 solid;
}
/* line 192, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .header .name {
  padding-top: 13px;
  font-size: 30px;
  float: left;
  color: #8B0000;
  width: 50%;
}
/* line 199, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .header .icons {
  height: 100%;
  padding-top: 5px;
  width: 47%;
  margin-right: 3%;
  text-align: right;
  float: left;
}
/* line 208, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .header .icons i {
  margin: 15px;
  transform: scale(2.3);
  display: inline-block;
  color: black;
}
/* line 214, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .header .icons i:hover {
  color: #0077B5;
}
/* line 217, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .top .header .icons img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 7px;
}
/* line 227, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .bottom {
  padding-left: 20px;
  overflow: scroll;
  height: 300px;
}
/* line 231, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .bottom .bio-title {
  color: #8B0000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  margin-right: 80px;
  border-bottom: 2px #8B0000 solid;
}
/* line 239, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .bottom .bio {
  padding-right: 15px;
  padding-top: 5px;
  font-size: 14px;
  line-height: 160%;
}
/* line 244, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .bottom .bio p {
  text-indent: 30px;
}
/* line 249, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .x {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  top: 25px;
  right: 40px;
  transform: scale(3);
}
/* line 258, ../sass/pages/_bios.scss */
#bios-body .brother-bio .brother-bio-inner .x:hover {
  transform: scale(3.2);
  color: #8B0000;
}
/* line 266, ../sass/pages/_bios.scss */
#bios-body .ui-accordion-content-active {
  padding: 0 !important;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
}
/* line 277, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 285, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  margin: 0px;
  /*background: rgba(3, 13, 24, 0.96);*/
  visibility: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
/* line 313, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
/* line 324, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #092645;
  color: #f0eee1;
  text-decoration: none;
}
/* line 331, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 1170px) {
  /* line 335, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav {
    z-index: 2;
    height: 100px;
    background-color: #0b1825;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  /* line 343, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav nav, #bios-body .cd-secondary-nav ul, #bios-body .cd-secondary-nav li, #bios-body .cd-secondary-nav a {
    height: 100%;
  }
  /* line 346, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    /*background-color: transparent;*/
  }
  /* line 360, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  /* line 364, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 58px 40px 0 40px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  /* line 374, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.6);
  }
  /* line 381, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../../img/cd-nav-icons-2.svg);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  /* line 400, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li a:hover b, #bios-body .cd-secondary-nav li a.active b {
    color: #f0eee1;
  }
  /* line 403, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  /* line 406, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  /* line 409, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  /* line 412, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  /* line 415, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  /* line 418, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  /* line 427, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  /* line 432, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav.animate-children li a {
    padding: 26px 30px 0 30px;
  }
  /* line 435, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav.animate-children li a span {
    opacity: 0;
  }
}
/* line 440, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: rgba(3, 13, 24, 0.96);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
/* line 454, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 475, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger span::before, #bios-body .cd-secondary-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 483, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* line 491, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* line 499, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger.menu-is-open {
  background: transparent;
}
/* line 502, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
/* line 507, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger.menu-is-open span::before, #bios-body .cd-secondary-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
/* line 515, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 522, ../sass/pages/_bios.scss */
#bios-body .cd-secondary-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  /* line 530, ../sass/pages/_bios.scss */
  #bios-body .cd-secondary-nav-trigger {
    display: none;
  }
}
/* line 535, ../sass/pages/_bios.scss */
#bios-body .cd-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  /*background-color: rgb(11,24,37);*/
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  /* line 545, ../sass/pages/_bios.scss */
  #bios-body .cd-header {
    height: 70px;
    /*background-color: transparent;*/
    box-shadow: none;
  }
}
/* line 552, ../sass/pages/_bios.scss */
#bios-body #cd-logo {
  position: fixed;
  float: left;
  margin: 10px 0 0 2%;
}
/* line 557, ../sass/pages/_bios.scss */
#bios-body #cd-logo img {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  /* line 561, ../sass/pages/_bios.scss */
  #bios-body #cd-logo {
    margin: 15px 0 0 2%;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 566, ../sass/pages/_bios.scss */
  #bios-body #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    margin-left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  /* line 573, ../sass/pages/_bios.scss */
  #bios-body #cd-logo.is-hidden img {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  /* line 579, ../sass/pages/_bios.scss */
  #bios-body #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    font-size: 15px;
    opacity: 1;
  }
  /* line 580, ../sass/pages/_bios.scss */
  #bios-body #cd-logo.is-hidden.slide-in img {
    opacity: 0;
  }
}
/* line 589, ../sass/pages/_bios.scss */
#bios-body .cd-primary-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../../../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
}
/* line 598, ../sass/pages/_bios.scss */
#bios-body .cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 609, ../sass/pages/_bios.scss */
#bios-body .cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
/* line 616, ../sass/pages/_bios.scss */
#bios-body .cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
}
@media only screen and (min-width: 768px) {
  /* line 625, ../sass/pages/_bios.scss */
  #bios-body .cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  /* line 631, ../sass/pages/_bios.scss */
  #bios-body .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  /* line 641, ../sass/pages/_bios.scss */
  #bios-body .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 648, ../sass/pages/_bios.scss */
  #bios-body .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  /* line 652, ../sass/pages/_bios.scss */
  #bios-body .cd-primary-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
  }
}

/*
Red=#8B0000
Gold=#FFCC33
DarkGray=#333333
LighGray=#999999
offwhite=#EDEAB5
*/
/* line 8, ../sass/pages/_landing.scss */
#landing {
  /*
  Red=#800000
  Gold=#e7b000
  DarkGray=#333333
  LighGray=#999999
  */
  font-family: Tahoma, Arial, Cambria, "Times New Roman";
  font-weight: 300;
}
/* line 18, ../sass/pages/_landing.scss */
#landing #screen {
  z-index: -100;
  height: 100vh;
  align-items: center;
  display: flex;
}
/* line 24, ../sass/pages/_landing.scss */
#landing #screen:after {
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: .75;
  background-image: url("../../img/boston.png");
  background-size: cover;
}
/* line 37, ../sass/pages/_landing.scss */
#landing #Title {
  z-index: -50;
  background-color: rgba(127, 127, 127, 0.8);
  /*background-color: #999999;*/
  width: 450px;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* line 57, ../sass/pages/_landing.scss */
#landing #logo {
  width: 60px;
  height: 87px;
  padding-right: 10px;
}
/* line 63, ../sass/pages/_landing.scss */
#landing #titles {
  font-size: 54px;
  font-weight: 200;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
}
/* line 71, ../sass/pages/_landing.scss */
#landing #subtitle {
  font-size: 23px;
  display: block;
  letter-spacing: 2px;
}
/* line 76, ../sass/pages/_landing.scss */
#landing #brotherhood {
  position: relative;
  right: 175px;
  top: 80px;
}
/* line 81, ../sass/pages/_landing.scss */
#landing #brotherhood #brotherhood-title {
  text-decoration: none;
  color: #FFCC33;
  background-color: #800000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 30px;
  z-index: -30;
  position: absolute;
  letter-spacing: 3px;
  border: solid black 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* line 96, ../sass/pages/_landing.scss */
#landing #brotherhood #brodrop {
  width: 150px;
  position: absolute;
  left: 30px;
  top: 48px;
}
/* line 105, ../sass/pages/_landing.scss */
#landing #service {
  position: relative;
  bottom: 70px;
  left: 40px;
}
/* line 110, ../sass/pages/_landing.scss */
#landing #service #service-title {
  text-decoration: none;
  color: #FFCC33;
  background-color: #800000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 30px;
  z-index: -20;
  position: absolute;
  letter-spacing: 3px;
  position: absolute;
  border: solid black 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* line 126, ../sass/pages/_landing.scss */
#landing #service #servicedrop {
  width: 125px;
  position: absolute;
  bottom: 1px;
  left: 3px;
}
/* line 133, ../sass/pages/_landing.scss */
#landing #prof {
  position: relative;
  bottom: 120px;
  right: 630px;
}
/* line 139, ../sass/pages/_landing.scss */
#landing #prof #prof-title {
  text-decoration: none;
  color: #FFCC33;
  background-color: #8B0000;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 30px;
  z-index: -20;
  position: absolute;
  letter-spacing: 1px;
  left: 15%;
  top: 32%;
  border: solid black 2px;
  display: inline-block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 366px;
}
/* line 158, ../sass/pages/_landing.scss */
#landing #prof #profdrop {
  width: 175px;
  position: absolute;
  top: 48px;
  left: 30px;
}
/* line 167, ../sass/pages/_landing.scss */
#landing .link, #landing #Title, #landing .dropdown {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* line 176, ../sass/pages/_landing.scss */
#landing .dropdown {
  z-index: -15;
  opacity: 0;
  background-color: #999999;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 450;
  outline: black solid 1px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 195, ../sass/pages/_landing.scss */
#landing .dropdown span {
  display: block;
}
/* line 200, ../sass/pages/_landing.scss */
#landing .dropdown:hover {
  opacity: 1;
}
/* line 204, ../sass/pages/_landing.scss */
#landing .dropdown span:hover {
  color: #e7b000;
}
/* line 208, ../sass/pages/_landing.scss */
#landing #learn {
  position: absolute;
  bottom: 3em;
  font-size: 25px;
  color: white;
  opacity: .5;
  left: 50%;
  text-align: center;
  margin-left: -100px;
  width: 200px;
  z-index: -10;
}

/* Carousel base class */
/* line 225, ../sass/pages/_landing.scss */
.carousel {
  height: 600px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
/* line 230, ../sass/pages/_landing.scss */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 235, ../sass/pages/_landing.scss */
.carousel .item {
  height: 600px;
}

/* line 239, ../sass/pages/_landing.scss */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
  object-fit: cover;
}

/* line 248, ../sass/pages/_landing.scss */
.carousel-caption {
  font-size: 50px;
}

/* line 254, ../sass/pages/_landing.scss */
.carousel-indicators {
  z-index: 1;
}

/* line 260, ../sass/pages/_landing.scss */
#section-1 #logo {
  float: left;
  width: 250px;
  margin: 20px;
}

/* line 268, ../sass/pages/_landing.scss */
#section-2 #flag {
  margin: 20px 10px 10px 10px;
  float: right;
  width: 250px;
}

/* line 277, ../sass/pages/_landing.scss */
#section-3 {
  max-width: 1050px;
}

/* line 281, ../sass/pages/_landing.scss */
#spyce {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 50px 30px 50px;
  border-radius: 60px;
  margin-bottom: 240px;
}

/* line 289, ../sass/pages/_landing.scss */
.learn {
  color: #FFCC33;
  background-color: #8B0000;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
  text-decoration: none;
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

/* line 306, ../sass/pages/_landing.scss */
#overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  z-index: 5;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

/* line 320, ../sass/pages/_landing.scss */
.popup {
  left: 50%;
  transform: translate(-50%, -80%);
  padding: 30px;
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: white;
  transition: all 1s;
  z-index: 5;
  opacity: 0;
  -webkit-box-shadow: -15px 10px 71px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 10px 71px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 10px 71px -13px rgba(0, 0, 0, 0.75);
}
/* line 335, ../sass/pages/_landing.scss */
.popup #spyce-popup {
  width: 200px;
  padding: 10px;
}
/* line 340, ../sass/pages/_landing.scss */
.popup #amphibs-popup {
  width: 400px;
  padding: 10px;
}
